@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");

* {
  font-family: "Boogaloo", cursive;
}

.main {
  background: white;
  color: teal;
  padding: 3%;
}

.imgbox {
  height: 50%;
  width: 50%;
}

.r10 {
  border-radius: 10px;
}

.right {
  float: right;
}
